/*------------------------------------*\
  Default
\*------------------------------------*/
body {
	width: 100%;
	background-color: #f0f0f0;
	font-family: 微軟正黑體;
	font-size: 1em;
	margin: 0;
}

h1 {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

hr {
	border: 0;
	height: 1px;
	background-color: #d4d4d4;
}


/*------------------------------------*\
  Margin, Linebreak
\*------------------------------------*/
.linebreak_5 {height: 5px;}
.linebreak_10 {height: 10px;}

.margin_right_5 {margin-right: 5px;}


/*------------------------------------*\
  Content
\*------------------------------------*/
/* All Body */
.full_page {
	margin: 10px;
}

/* Column */
.content_column {
	background-color: white;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Textarea */
.content_textarea {
	font-size: 1em;
	font-family: 微軟正黑體;
	width: 100%;
	height: 750px;
}

/* Button */ 
.content_button {
	font-size: 16px;
	font-family: 微軟正黑體;
	color: #FFF;
	background-color: #0090ff;
	padding: 8px 15px;
	border: 0;
		 -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
					border-radius: 3px;
}

.column_button:hover {
	background-color: #0073cc;
			 -o-transition: background-color 0.5s ease;
		 -moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
					transition: background-color 0.5s ease;
}

/* Message */
.message {
	display: inline-block;
}

@media screen and (max-width: 480px) {
	.content_button {
		width: 100%;
		margin: 4px 0;
	}

	.message {
		width: 100%;
		text-align: center;
	}
}

/* Footer */
.footer {
	font-size: 0.8em;
	text-align: center;
}