@font-face {
  font-family: custom-font;
  src: local(Heiti TC), local(Microsoft JhengHei);
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: custom-font;
  src: local(Helvetica), local(Arial);
  unicode-range: U+00-024F;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f0f0f0;
  font-family: custom-font;
  font-size: 1em;
  margin: 0;
  line-height: 1.4em;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

hr {
  border: 0;
  height: 1px;
  background-color: #d4d4d4;
}

.linebreak_5 {
  height: 5px;
}

.linebreak_10 {
  height: 10px;
}

.margin_right_5 {
  margin-right: 5px;
}

.full_page {
  margin: 15px;
}
.full_page .content_column {
  background-color: #FFF;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.full_page .content_column .content_textarea {
  font-size: 1em;
  font-family: custom-font;
  line-height: 1.4em;
  width: 100%;
  height: 750px;
  padding: 5px;
}
.full_page .content_column .content_button {
  font-size: 1em;
  font-family: custom-font;
  color: #FFF;
  background-color: #0090ff;
  padding: 8px 15px;
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.full_page .content_column .content_button:hover {
  background-color: #0073cc;
  -o-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
@media screen and (max-width: 480px) {
  .full_page .content_column .content_button {
    width: 100%;
    margin: 4px 0;
  }
}
.full_page .content_column .message {
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .full_page .content_column .message {
    width: 100%;
    text-align: center;
  }
}
.full_page .content_column footer {
  font-size: 0.8em;
  text-align: center;
}
